numpy==1.21.0
pandas==1.3.3
markdown==3.3.3
fake-useragent==0.1.11
pillow==9.0.0
psycopg2-binary==2.8.5
pyTelegramBotAPI==3.7.2
requests<=2.25.1, >=2.24.0
escraper@git+https://git@github.com/ArtemErmulin/escraper.git@develop
celery==5.4.0
redis==5.0.6
fastapi==0.111.0
uvicorn==0.30.1
openai==1.9.0
SQLAlchemy==2.0.30
httpx==0.27.2
